openapi: 3.0.3
info:
  title: POS Stripe Connect API
  description: |
    API for managing Stripe Connect integration for POS systems.

    This API provides endpoints for:
    - User authentication and authorization
    - Store management
    - Customer management
    - POS device registration and management
    - POS session management (Kassasystemforskriften compliance)
    - POS event logging (audit trail)
    - POS transaction operations (void, correction)
    - Receipt generation and management
    - Receipt printer configuration and management
    - Product and inventory management
    - SAF-T file generation (Norwegian tax compliance)
    - Terminal operations (connection tokens and payment intents)

    All endpoints (except login and webhooks) require Bearer token authentication.
    Requests are automatically scoped to the authenticated user's accessible stores.
  version: 1.0.0
  contact:
    name: API Support
    email: support@visivo.no
  license:
    name: Proprietary

servers:
  - url: https://pos.visivo.no/api
    description: Production server
  - url: http://pos-stripe.test/api
    description: Local development server

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Stores
    description: Store management operations
  - name: Customers
    description: Customer management operations
  - name: POS Devices
    description: POS device registration and management (vendor-agnostic)
  - name: POS Sessions
    description: POS session management (Kassasystemforskriften compliance)
  - name: POS Events
    description: POS event logging (audit trail)
  - name: POS Transactions
    description: POS transaction operations (void, correction)
  - name: Receipts
    description: Receipt generation and management
  - name: Receipt Printers
    description: Receipt printer configuration and management
  - name: Purchases
    description: POS purchase processing with multiple payment methods
  - name: Products
    description: Product management for POS
  - name: Collections
    description: Product collections/categories management
  - name: Inventory
    description: Inventory management operations
  - name: SAF-T
    description: SAF-T file generation (Norwegian tax compliance)
  - name: Terminals
    description: Terminal locations and readers management (Stripe-specific)
  - name: Webhooks
    description: Stripe webhook endpoints

paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login user
      description: Authenticate user and receive API token
      operationId: login
      security: []  # Public endpoint - no authentication required
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: admin@pos.visivo.no
                password:
                  type: string
                  format: password
                  example: admin
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default:
                  value:
                    message: The provided credentials are incorrect.
                    errors:
                      email:
                        - The provided credentials are incorrect.

  /auth/me:
    get:
      tags:
        - Authentication
      summary: Get current user
      description: Get authenticated user information and accessible stores
      operationId: getCurrentUser
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout user
      description: Revoke current authentication token
      operationId: logout
      responses:
        '200':
          description: Successfully logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Logged out successfully
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/logout-all:
    post:
      tags:
        - Authentication
      summary: Logout from all devices
      description: Revoke all authentication tokens for the user
      operationId: logoutAll
      responses:
        '200':
          description: Successfully logged out from all devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Logged out from all devices successfully
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /stores:
    get:
      tags:
        - Stores
      summary: List stores
      description: Get all stores accessible by the authenticated user
      operationId: listStores
      responses:
        '200':
          description: List of stores
          content:
            application/json:
              schema:
                type: object
                properties:
                  stores:
                    type: array
                    items:
                      $ref: '#/components/schemas/Store'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /stores/current:
    get:
      tags:
        - Stores
      summary: Get current store
      description: Get the authenticated user's default store
      operationId: getCurrentStore
      responses:
        '200':
          description: Store information
          content:
            application/json:
              schema:
                type: object
                properties:
                  store:
                    $ref: '#/components/schemas/Store'
        '404':
          description: No store assigned to user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default:
                  value:
                    message: No store assigned to this user
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    put:
      tags:
        - Stores
      summary: Change current store
      description: Change the authenticated user's current/default store
      operationId: changeCurrentStore
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: >
                Either 'store_id' or 'store_slug' is required. The server
                will reject requests that do not provide at least one of them.
              properties:
                store_id:
                  type: integer
                  description: Store ID to set as current
                  example: 1
                store_slug:
                  type: string
                  description: Store slug to set as current (alternative to store_id)
                  example: my-store
      responses:
        '200':
          description: Current store changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Current store changed successfully
                  store:
                    $ref: '#/components/schemas/Store'
        '403':
          description: User does not have access to this store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default:
                  value:
                    message: You do not have access to this store
        '404':
          description: Store not found or no store assigned to user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default:
                  value:
                    message: Store not found
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    patch:
      tags:
        - Stores
      summary: Change current store (partial)
      description: Change the authenticated user's current/default store (alternative to PUT)
      operationId: patchCurrentStore
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: >
                Either 'store_id' or 'store_slug' is required. The server
                will reject requests that do not provide at least one of them.
              properties:
                store_id:
                  type: integer
                  description: Store ID to set as current
                  example: 1
                store_slug:
                  type: string
                  description: Store slug to set as current (alternative to store_id)
                  example: my-store
      responses:
        '200':
          description: Current store changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Current store changed successfully
                  store:
                    $ref: '#/components/schemas/Store'
        '403':
          description: User does not have access to this store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default:
                  value:
                    message: You do not have access to this store
        '404':
          description: Store not found or no store assigned to user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default:
                  value:
                    message: Store not found
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /stores/{slug}:
    get:
      tags:
        - Stores
      summary: Get store by slug
      description: Get a specific store by its slug
      operationId: getStore
      parameters:
        - name: slug
          in: path
          required: true
          description: Store slug
          schema:
            type: string
          example: my-store
      responses:
        '200':
          description: Store information
          content:
            application/json:
              schema:
                type: object
                properties:
                  store:
                    $ref: '#/components/schemas/Store'
        '403':
          description: User does not have access to this store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default:
                  value:
                    message: You do not have access to this store
        '404':
          description: Store not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                default:
                  value:
                    message: Store not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-devices:
    get:
      tags:
        - POS Devices
      summary: List POS devices
      description: Get all POS devices for the current store
      operationId: listPosDevices
      responses:
        '200':
          description: List of POS devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/PosDevice'
        '404':
          description: Store not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags:
        - POS Devices
      summary: Register POS device
      description: Register a new POS device using device information from device_info_plus
      operationId: registerPosDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - device_identifier
                - device_name
                - platform
              properties:
                device_identifier:
                  type: string
                  description: "Unique device identifier (iOS: identifierForVendor, Android: androidId)"
                  example: ABC123-DEF456-GHI789
                device_name:
                  type: string
                  description: "Human-readable device name (iOS: name, Android: device)"
                  example: Jan's iPad
                platform:
                  type: string
                  enum: [ios, android]
                  description: Device platform
                  example: ios
                device_model:
                  type: string
                  nullable: true
                  description: Device model
                  example: iPad
                device_brand:
                  type: string
                  nullable: true
                  description: Device brand (Android only)
                  example: Apple
                device_manufacturer:
                  type: string
                  nullable: true
                  description: Device manufacturer (Android only)
                  example: Apple
                device_product:
                  type: string
                  nullable: true
                  description: Device product (Android only)
                device_hardware:
                  type: string
                  nullable: true
                  description: Device hardware (Android only)
                machine_identifier:
                  type: string
                  nullable: true
                  description: "Machine identifier (iOS: utsname.machine)"
                  example: "iPad13,1"
                system_name:
                  type: string
                  nullable: true
                  description: "System name (iOS: systemName)"
                  example: iOS
                system_version:
                  type: string
                  nullable: true
                  description: System version
                  example: 17.0
                vendor_identifier:
                  type: string
                  nullable: true
                  description: "Vendor identifier (iOS: identifierForVendor)"
                android_id:
                  type: string
                  nullable: true
                  description: Android ID (Android only)
                serial_number:
                  type: string
                  nullable: true
                  description: Serial number (if available)
                device_metadata:
                  type: object
                  nullable: true
                  description: Additional device metadata (battery, storage, etc.)
                  additionalProperties: true
      responses:
        '201':
          description: POS device registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: POS device registered successfully
                  device:
                    $ref: '#/components/schemas/PosDevice'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-devices/{id}:
    get:
      tags:
        - POS Devices
      summary: Get POS device
      description: Get a specific POS device by ID
      operationId: getPosDevice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: POS device information
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    $ref: '#/components/schemas/PosDevice'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    put:
      tags:
        - POS Devices
      summary: Update POS device
      description: Update POS device information
      operationId: updatePosDevice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                device_name:
                  type: string
                device_model:
                  type: string
                  nullable: true
                device_brand:
                  type: string
                  nullable: true
                device_manufacturer:
                  type: string
                  nullable: true
                device_product:
                  type: string
                  nullable: true
                device_hardware:
                  type: string
                  nullable: true
                machine_identifier:
                  type: string
                  nullable: true
                system_name:
                  type: string
                  nullable: true
                system_version:
                  type: string
                  nullable: true
                vendor_identifier:
                  type: string
                  nullable: true
                android_id:
                  type: string
                  nullable: true
                serial_number:
                  type: string
                  nullable: true
                device_status:
                  type: string
                  enum: [active, inactive, maintenance, offline]
                device_metadata:
                  type: object
                  nullable: true
                  additionalProperties: true
      responses:
        '200':
          description: Device updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: POS device updated successfully
                  device:
                    $ref: '#/components/schemas/PosDevice'
        '404':
          description: Device not found
        '422':
          description: Validation error
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    patch:
      tags:
        - POS Devices
      summary: Update POS device (partial)
      description: Partially update POS device information
      operationId: patchPosDevice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                device_name:
                  type: string
                device_status:
                  type: string
                  enum: [active, inactive, maintenance, offline]
                device_metadata:
                  type: object
                  nullable: true
                  additionalProperties: true
      responses:
        '200':
          description: Device updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: POS device updated successfully
                  device:
                    $ref: '#/components/schemas/PosDevice'
        '404':
          description: Device not found
        '422':
          description: Validation error
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-devices/{id}/heartbeat:
    post:
      tags:
        - POS Devices
      summary: Update device heartbeat
      description: Update device last_seen_at timestamp and optionally status/metadata
      operationId: updateDeviceHeartbeat
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                device_status:
                  type: string
                  enum: [active, inactive, maintenance, offline]
                device_metadata:
                  type: object
                  nullable: true
                  description: Additional metadata (battery level, storage, etc.)
                  additionalProperties: true
      responses:
        '200':
          description: Heartbeat updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Device heartbeat updated
                  device:
                    $ref: '#/components/schemas/PosDevice'
        '404':
          description: Device not found
        '422':
          description: Validation error
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-devices/{id}/start:
    post:
      tags:
        - POS Devices
      summary: Log application start
      description: Log POS application start event (13001) for audit trail compliance
      operationId: logApplicationStart
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Application start logged successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Application start logged successfully
                  device:
                    $ref: '#/components/schemas/PosDevice'
                  current_session:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: integer
                      session_number:
                        type: string
        '404':
          description: Device not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-devices/{id}/shutdown:
    post:
      tags:
        - POS Devices
      summary: Log application shutdown
      description: Log POS application shutdown event (13002) for audit trail compliance
      operationId: logApplicationShutdown
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Application shutdown logged successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Application shutdown logged successfully
                  device:
                    $ref: '#/components/schemas/PosDevice'
        '404':
          description: Device not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-devices/{id}/cash-drawer/open:
    post:
      tags:
        - POS Devices
      summary: Open cash drawer
      description: Log cash drawer open event (13005). Supports nullinnslag (drawer open without sale) - mandatory per Kassasystemforskriften § 2-2
      operationId: openCashDrawer
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                pos_session_id:
                  type: integer
                  nullable: true
                  description: POS session ID (auto-detected if not provided)
                related_charge_id:
                  type: integer
                  nullable: true
                  description: Charge ID if drawer opened with sale
                nullinnslag:
                  type: boolean
                  nullable: true
                  description: True if drawer opened without sale (mandatory to log per § 2-2)
                  example: false
                reason:
                  type: string
                  nullable: true
                  maxLength: 500
                  description: Reason for nullinnslag (if applicable)
      responses:
        '200':
          description: Cash drawer open logged successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cash drawer open logged successfully
                  event:
                    type: object
                    properties:
                      nullinnslag:
                        type: boolean
                      session_id:
                        type: integer
                        nullable: true
        '400':
          description: Active session required for nullinnslag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Device not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-devices/{id}/cash-drawer/close:
    post:
      tags:
        - POS Devices
      summary: Close cash drawer
      description: Log cash drawer close event (13006) for audit trail compliance
      operationId: closeCashDrawer
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                pos_session_id:
                  type: integer
                  nullable: true
                  description: POS session ID (auto-detected if not provided)
      responses:
        '200':
          description: Cash drawer close logged successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cash drawer close logged successfully
        '404':
          description: Device not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-sessions:
    get:
      tags:
        - POS Sessions
      summary: List POS sessions
      description: Get all POS sessions for the current store
      operationId: listPosSessions
      parameters:
        - name: status
          in: query
          description: Filter by status (open, closed, abandoned)
          required: false
          schema:
            type: string
            enum: [open, closed, abandoned]
        - name: date
          in: query
          description: Filter by opening date (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
        - name: pos_device_id
          in: query
          description: Filter by POS device ID
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of POS sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/PosSession'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '404':
          description: Store not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-sessions/current:
    get:
      tags:
        - POS Sessions
      summary: Get current open session
      description: Get the current open session for a POS device
      operationId: getCurrentPosSession
      parameters:
        - name: pos_device_id
          in: query
          required: true
          description: POS device ID
          schema:
            type: integer
      responses:
        '200':
          description: Current session information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosSessionWithCharges'
        '404':
          description: Store not found or no open session
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-sessions/open:
    post:
      tags:
        - POS Sessions
      summary: Open POS session
      description: Open a new POS session. Automatically logs event 13020 (Session opened)
      operationId: openPosSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pos_device_id
              properties:
                pos_device_id:
                  type: integer
                  description: POS device ID
                  example: 1
                opening_balance:
                  type: integer
                  nullable: true
                  description: Opening cash balance in øre
                  minimum: 0
                  example: 0
                opening_notes:
                  type: string
                  nullable: true
                  maxLength: 1000
                  description: Free-text notes for session opening (e.g., shift information, initial observations, cashier notes). Human-readable text field for cashiers/managers to document session start.
                  example: "Morning shift - Starting with 500 kr in drawer"
                opening_data:
                  type: object
                  nullable: true
                  description: Additional opening metadata (device info, app version, location, etc.). Flexible object for storing any additional session opening data.
                  additionalProperties: true
                  example:
                    app_version: "1.2.3"
                    device_battery_level: 85
                    device_storage_available: 1024000000
                    location:
                      latitude: 59.9139
                      longitude: 10.7522
                    network_type: "wifi"
                    timestamp: "2025-02-12T16:01:37.000Z"
      responses:
        '201':
          description: Session opened successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Session opened successfully
                  session:
                    $ref: '#/components/schemas/PosSession'
        '409':
          description: Device already has an open session
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Device already has an open session
                  session:
                    $ref: '#/components/schemas/PosSession'
        '404':
          description: Store or device not found
        '422':
          description: Validation error
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-sessions/{id}:
    get:
      tags:
        - POS Sessions
      summary: Get POS session
      description: Get a specific POS session with all details including charges
      operationId: getPosSession
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Session information
          content:
            application/json:
              schema:
                type: object
                properties:
                  session:
                    $ref: '#/components/schemas/PosSessionWithCharges'
        '404':
          description: Session not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-sessions/{id}/close:
    post:
      tags:
        - POS Sessions
      summary: Close POS session
      description: Close a POS session and automatically generate Z-report. Automatically logs events 13009 (Z-report) and 13021 (Session closed)
      operationId: closePosSession
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                actual_cash:
                  type: integer
                  nullable: true
                  description: Actual cash count in øre
                  minimum: 0
                closing_notes:
                  type: string
                  nullable: true
                  maxLength: 1000
                  description: Free-text notes for session closing (e.g., cash discrepancies, end-of-shift observations, issues encountered). Human-readable text field for cashiers/managers to document session end.
                  example: "End of shift - Cash difference: 25.00 NOK (over)"
                closing_data:
                  type: object
                  nullable: true
                  description: Additional closing data
                  additionalProperties: true
      responses:
        '200':
          description: Session closed successfully with Z-report
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Session closed successfully
                  session:
                    $ref: '#/components/schemas/PosSession'
                  report:
                    $ref: '#/components/schemas/ZReport'
        '400':
          description: Session cannot be closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Session not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-sessions/{id}/x-report:
    post:
      tags:
        - POS Sessions
      summary: Generate X-report
      description: Generate X-report (daily sales report) for current session. Logs event 13008. Does NOT close session.
      operationId: generateXReport
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: X-report generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: X-report generated successfully
                  report:
                    $ref: '#/components/schemas/XReport'
        '404':
          description: Session not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-sessions/{id}/z-report:
    post:
      tags:
        - POS Sessions
      summary: Generate Z-report
      description: Generate Z-report (end-of-day report) and close session. Logs events 13009 and 13021.
      operationId: generateZReport
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                actual_cash:
                  type: integer
                  nullable: true
                  description: Actual cash count in øre
                  minimum: 0
                closing_notes:
                  type: string
                  nullable: true
                  maxLength: 1000
                  description: Free-text notes for session closing (e.g., cash discrepancies, end-of-shift observations, issues encountered). Human-readable text field for cashiers/managers to document session end.
                  example: "End of shift - Cash difference: 25.00 NOK (over)"
      responses:
        '200':
          description: Z-report generated and session closed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Z-report generated and session closed
                  session:
                    $ref: '#/components/schemas/PosSession'
                  report:
                    $ref: '#/components/schemas/ZReport'
        '400':
          description: Session cannot be closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Session not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-sessions/daily-closing:
    post:
      tags:
        - POS Sessions
      summary: Create daily closing report
      description: Create a daily closing report for a specific date
      operationId: createDailyClosing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - closing_date
              properties:
                closing_date:
                  type: string
                  format: date
                  description: Date for daily closing (YYYY-MM-DD)
                  example: "2025-11-30"
                notes:
                  type: string
                  nullable: true
                  maxLength: 1000
                  description: Closing notes
      responses:
        '201':
          description: Daily closing created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Daily closing created successfully
                  closing:
                    $ref: '#/components/schemas/PosSessionClosing'
        '409':
          description: Daily closing already exists for this date
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Daily closing already exists for this date
                  closing:
                    $ref: '#/components/schemas/PosSessionClosing'
        '404':
          description: Store not found
        '422':
          description: Validation error
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-events:
    get:
      tags:
        - POS Events
      summary: List POS events
      description: Get paginated list of POS events (audit log) for the current store
      operationId: listPosEvents
      parameters:
        - name: event_code
          in: query
          description: Filter by event code (e.g., 13012, 13020)
          required: false
          schema:
            type: string
        - name: event_type
          in: query
          description: Filter by event type
          required: false
          schema:
            type: string
            enum: [application, user, drawer, report, transaction, payment, session, other]
        - name: pos_session_id
          in: query
          description: Filter by POS session ID
          required: false
          schema:
            type: integer
        - name: from_date
          in: query
          description: Filter from date (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          description: Filter to date (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
        - name: per_page
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 50
        - name: nullinnslag
          in: query
          description: Filter by nullinnslag (drawer open without sale). Only applies to cash drawer events (13005). Use true to get only nullinnslag events, false to exclude them.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: List of POS events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/PosEvent'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
        '404':
          description: Store not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      tags:
        - POS Events
      summary: Create POS event
      description: Manually create a POS event (for events not auto-logged)
      operationId: createPosEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_code
                - event_type
              properties:
                pos_device_id:
                  type: integer
                  nullable: true
                  description: POS device ID
                pos_session_id:
                  type: integer
                  nullable: true
                  description: POS session ID
                event_code:
                  type: string
                  description: SAF-T event code (PredefinedBasicID-13)
                  example: "13012"
                event_type:
                  type: string
                  enum: [application, user, drawer, report, transaction, payment, session, other]
                  description: Event type category
                description:
                  type: string
                  nullable: true
                  maxLength: 1000
                  description: Human-readable description
                related_charge_id:
                  type: integer
                  nullable: true
                  description: Related charge ID (for transaction events)
                event_data:
                  type: object
                  nullable: true
                  description: Additional event-specific data
                  additionalProperties: true
                occurred_at:
                  type: string
                  format: date-time
                  nullable: true
                  description: When event occurred (defaults to now)
      responses:
        '201':
          description: Event created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Event created successfully
                  event:
                    $ref: '#/components/schemas/PosEvent'
        '404':
          description: Store or related resource not found
        '422':
          description: Validation error
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-events/{id}:
    get:
      tags:
        - POS Events
      summary: Get POS event
      description: Get a specific POS event by ID
      operationId: getPosEvent
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Event information
          content:
            application/json:
              schema:
                type: object
                properties:
                  event:
                    $ref: '#/components/schemas/PosEvent'
        '404':
          description: Event not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-transactions/charges/{chargeId}/void:
    post:
      tags:
        - POS Transactions
      summary: Void transaction
      description: Void a transaction (cancel before completion). Logs event 13014.
      operationId: voidTransaction
      parameters:
        - name: chargeId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  nullable: true
                  maxLength: 500
                  description: Reason for void
                pos_session_id:
                  type: integer
                  nullable: true
                  description: POS session ID (auto-detected if not provided)
      responses:
        '200':
          description: Transaction voided successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Transaction voided successfully
                  charge:
                    type: object
                    properties:
                      id:
                        type: integer
                      stripe_charge_id:
                        type: string
                      amount:
                        type: integer
                      voided:
                        type: boolean
                        example: true
        '400':
          description: Cannot void a charge that has already been refunded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Charge not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /pos-transactions/correction-receipt:
    post:
      tags:
        - POS Transactions
      summary: Create correction receipt
      description: Create a correction receipt for errors. Logs event 13015.
      operationId: createCorrectionReceipt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pos_session_id
                - correction_type
                - description
              properties:
                pos_session_id:
                  type: integer
                  description: POS session ID
                related_charge_id:
                  type: integer
                  nullable: true
                  description: Related charge ID (if applicable)
                correction_type:
                  type: string
                  enum: [price_correction, item_correction, payment_correction, other]
                  description: Type of correction
                original_amount:
                  type: integer
                  nullable: true
                  description: Original amount in øre
                  minimum: 0
                corrected_amount:
                  type: integer
                  nullable: true
                  description: Corrected amount in øre
                  minimum: 0
                description:
                  type: string
                  maxLength: 1000
                  description: Description of correction
                correction_data:
                  type: object
                  nullable: true
                  description: Additional correction data
                  additionalProperties: true
      responses:
        '201':
          description: Correction receipt created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Correction receipt created successfully
                  event:
                    type: object
                    properties:
                      id:
                        type: integer
                      event_code:
                        type: string
                        example: "13015"
                      description:
                        type: string
                  receipt:
                    type: object
                    properties:
                      id:
                        type: integer
                      receipt_number:
                        type: string
                      receipt_type:
                        type: string
                        example: correction
        '404':
          description: Store or session not found
        '422':
          description: Validation error
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /receipts:
    get:
      tags:
        - Receipts
      summary: List receipts
      description: Get paginated list of receipts for the current store
      operationId: listReceipts
      parameters:
        - name: receipt_type
          in: query
          description: Filter by receipt type
          required: false
          schema:
            type: string
            enum: [sales, return, copy, steb, provisional, training, delivery, correction]
        - name: pos_session_id
          in: query
          description: Filter by POS session ID
          required: false
          schema:
            type: integer
        - name: printed
          in: query
          description: Filter by printed status
          required: false
          schema:
            type: boolean
        - name: from_date
          in: query
          description: Filter from date (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          description: Filter to date (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
        - name: per_page
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of receipts
          content:
            application/json:
              schema:
                type: object
                properties:
                  receipts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Receipt'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
        '404':
          description: Store not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /receipts/generate:
    post:
      tags:
        - Receipts
      summary: Generate receipt
      description: Generate a receipt for a charge
      operationId: generateReceipt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - charge_id
              properties:
                charge_id:
                  type: integer
                  description: Charge ID
                receipt_type:
                  type: string
                  nullable: true
                  enum: [sales, return, copy, steb, provisional, training, delivery]
                  description: Receipt type (defaults to sales)
                pos_session_id:
                  type: integer
                  nullable: true
                  description: POS session ID (auto-detected from charge if not provided)
      responses:
        '201':
          description: Receipt generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Receipt generated successfully
                  receipt:
                    $ref: '#/components/schemas/Receipt'
        '404':
          description: Store or charge not found
        '422':
          description: Validation error
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /receipts/{id}:
    get:
      tags:
        - Receipts
      summary: Get receipt
      description: Get a specific receipt by ID
      operationId: getReceipt
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Receipt information
          content:
            application/json:
              schema:
                type: object
                properties:
                  receipt:
                    $ref: '#/components/schemas/Receipt'
        '404':
          description: Receipt not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /receipts/{id}/xml:
    get:
      tags:
        - Receipts
      summary: Get receipt XML
      description: Get receipt in XML format (for printing)
      operationId: getReceiptXml
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Receipt XML
          content:
            application/xml:
              schema:
                type: string
        '404':
          description: Receipt not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /receipts/{id}/mark-printed:
    post:
      tags:
        - Receipts
      summary: Mark receipt as printed
      description: Mark a receipt as printed
      operationId: markReceiptPrinted
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Receipt marked as printed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Receipt marked as printed
                  receipt:
                    $ref: '#/components/schemas/Receipt'
        '404':
          description: Receipt not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /receipts/{id}/reprint:
    post:
      tags:
        - Receipts
      summary: Reprint receipt
      description: Reprint a receipt (increments reprint count)
      operationId: reprintReceipt
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Receipt reprinted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Receipt reprinted
                  receipt:
                    $ref: '#/components/schemas/Receipt'
        '404':
          description: Receipt not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /receipt-printers:
    get:
      tags:
        - Receipt Printers
      summary: List receipt printers
      description: Get all receipt printers for the current store
      operationId: listReceiptPrinters
      responses:
        '200':
          description: List of receipt printers
          content:
            application/json:
              schema:
                type: object
                properties:
                  printers:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReceiptPrinter'
        '404':
          description: Store not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      tags:
        - Receipt Printers
      summary: Create receipt printer
      description: Create a new receipt printer for the current store
      operationId: createReceiptPrinter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - printer_type
                - connection_type
              properties:
                name:
                  type: string
                  example: Main Counter Printer
                printer_type:
                  type: string
                  enum: [epson, star, generic]
                  example: epson
                printer_model:
                  type: string
                  nullable: true
                  example: TM-m30III
                paper_width:
                  type: string
                  enum: [80, 58]
                  default: '80'
                  example: '80'
                connection_type:
                  type: string
                  enum: [network, usb, bluetooth]
                  example: network
                ip_address:
                  type: string
                  format: ipv4
                  nullable: true
                  example: 192.168.1.100
                port:
                  type: integer
                  minimum: 1
                  maximum: 65535
                  default: 9100
                  example: 9100
                device_id:
                  type: string
                  nullable: true
                  default: local_printer
                  example: local_printer
                use_https:
                  type: boolean
                  default: false
                  example: false
                timeout:
                  type: integer
                  minimum: 1000
                  maximum: 300000
                  default: 60000
                  example: 60000
                is_active:
                  type: boolean
                  default: true
                  example: true
                monitor_status:
                  type: boolean
                  default: false
                  example: false
                drawer_open_level:
                  type: string
                  enum: [low, high]
                  default: low
                  example: low
                use_job_id:
                  type: boolean
                  default: false
                  example: false
                pos_device_id:
                  type: integer
                  nullable: true
                  description: Optional POS device to associate with this printer
                printer_metadata:
                  type: object
                  nullable: true
                  additionalProperties: true
      responses:
        '201':
          description: Receipt printer created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Receipt printer created successfully
                  printer:
                    $ref: '#/components/schemas/ReceiptPrinter'
        '404':
          description: Store not found
        '422':
          description: Validation error
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /receipt-printers/{id}:
    get:
      tags:
        - Receipt Printers
      summary: Get receipt printer
      description: Get a specific receipt printer by ID
      operationId: getReceiptPrinter
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Receipt printer information
          content:
            application/json:
              schema:
                type: object
                properties:
                  printer:
                    $ref: '#/components/schemas/ReceiptPrinter'
        '404':
          description: Receipt printer not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    put:
      tags:
        - Receipt Printers
      summary: Update receipt printer
      description: Update a receipt printer
      operationId: updateReceiptPrinter
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Main Counter Printer
                printer_type:
                  type: string
                  enum: [epson, star, generic]
                  example: epson
                printer_model:
                  type: string
                  nullable: true
                  example: TM-m30III
                paper_width:
                  type: string
                  enum: [80, 58]
                  example: '80'
                connection_type:
                  type: string
                  enum: [network, usb, bluetooth]
                  example: network
                ip_address:
                  type: string
                  format: ipv4
                  nullable: true
                  example: 192.168.1.100
                port:
                  type: integer
                  minimum: 1
                  maximum: 65535
                  example: 9100
                device_id:
                  type: string
                  nullable: true
                  example: local_printer
                use_https:
                  type: boolean
                  example: false
                timeout:
                  type: integer
                  minimum: 1000
                  maximum: 300000
                  example: 60000
                is_active:
                  type: boolean
                  example: true
                monitor_status:
                  type: boolean
                  example: false
                drawer_open_level:
                  type: string
                  enum: [low, high]
                  example: low
                use_job_id:
                  type: boolean
                  example: false
                pos_device_id:
                  type: integer
                  nullable: true
                printer_metadata:
                  type: object
                  nullable: true
                  additionalProperties: true
      responses:
        '200':
          description: Receipt printer updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Receipt printer updated successfully
                  printer:
                    $ref: '#/components/schemas/ReceiptPrinter'
        '404':
          description: Receipt printer not found
        '422':
          description: Validation error
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    patch:
      tags:
        - Receipt Printers
      summary: Update receipt printer (partial)
      description: Partially update a receipt printer
      operationId: patchReceiptPrinter
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                printer_type:
                  type: string
                  enum: [epson, star, generic]
                printer_model:
                  type: string
                  nullable: true
                paper_width:
                  type: string
                  enum: [80, 58]
                connection_type:
                  type: string
                  enum: [network, usb, bluetooth]
                ip_address:
                  type: string
                  format: ipv4
                  nullable: true
                port:
                  type: integer
                  minimum: 1
                  maximum: 65535
                device_id:
                  type: string
                  nullable: true
                use_https:
                  type: boolean
                timeout:
                  type: integer
                  minimum: 1000
                  maximum: 300000
                is_active:
                  type: boolean
                monitor_status:
                  type: boolean
                drawer_open_level:
                  type: string
                  enum: [low, high]
                use_job_id:
                  type: boolean
                pos_device_id:
                  type: integer
                  nullable: true
                printer_metadata:
                  type: object
                  nullable: true
                  additionalProperties: true
      responses:
        '200':
          description: Receipt printer updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Receipt printer updated successfully
                  printer:
                    $ref: '#/components/schemas/ReceiptPrinter'
        '404':
          description: Receipt printer not found
        '422':
          description: Validation error
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    delete:
      tags:
        - Receipt Printers
      summary: Delete receipt printer
      description: Delete a receipt printer
      operationId: deleteReceiptPrinter
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Receipt printer deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Receipt printer deleted successfully
        '404':
          description: Receipt printer not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /receipt-printers/{id}/test-connection:
    post:
      tags:
        - Receipt Printers
      summary: Test printer connection
      description: Test network connection to a receipt printer
      operationId: testReceiptPrinterConnection
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Connection test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  connected:
                    type: boolean
                    example: true
                  printer_id:
                    type: integer
                    example: 1
                  ip_address:
                    type: string
                    example: 192.168.1.100
                  port:
                    type: integer
                    example: 9100
                  error:
                    type: string
                    nullable: true
                    example: null
        '400':
          description: Printer is not active or not a network printer
        '404':
          description: Receipt printer not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /receipt-printers/{id}/test-print:
    post:
      tags:
        - Receipt Printers
      summary: Send test print
      description: Send a test print to a receipt printer
      operationId: testReceiptPrinterPrint
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Test print result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Test print sent successfully
                  error:
                    type: string
                    nullable: true
                    example: null
        '400':
          description: Printer is not active or not a network printer
        '404':
          description: Receipt printer not found
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /purchases/payment-methods:
    get:
      tags:
        - Purchases
      summary: Get available payment methods
      description: Get list of enabled payment methods for the current store
      operationId: getPaymentMethods
      responses:
        '200':
          description: List of payment methods
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentMethod'
        '404':
          description: Store not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /purchases:
    get:
      tags:
        - Purchases
      summary: List purchases
      description: |
        Retrieve a paginated list of purchases (charges) for the current store.
        Only purchases associated with POS sessions are returned.
      operationId: listPurchases
      parameters:
        - name: pos_session_id
          in: query
          description: Filter by POS session ID
          schema:
            type: integer
        - name: status
          in: query
          description: Filter by charge status
          schema:
            type: string
            enum: [succeeded, pending, failed, refunded]
        - name: payment_method
          in: query
          description: Filter by payment method
          schema:
            type: string
            example: cash
        - name: customer_id
          in: query
          description: Filter by customer database ID (integer)
          required: false
          schema:
            type: integer
            example: 1
        - name: from_date
          in: query
          description: Filter purchases created from this date (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          description: Filter purchases created until this date (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: paid_from_date
          in: query
          description: Filter purchases paid from this date (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: paid_to_date
          in: query
          description: Filter purchases paid until this date (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: search
          in: query
          description: |
            Freetext search term that searches across multiple purchase fields:
            - Purchase ID (exact match for numeric IDs)
            - Stripe charge ID
            - Description
            - Transaction code and payment code
            - Article group code
            - Customer name, email, phone, or Stripe customer ID
            - Receipt number
            - Purchase items (purchase_items) - searches in:
              * Item names, product names, descriptions
              * Product codes and article group codes
              * SKUs and barcodes
              * Item IDs (purchase_item_id)
              * Product IDs and variant IDs (if search term is numeric)
              * Product names via product relationships (from purchase_item_product_id or product_id)
              * Variant SKUs, barcodes, and option values via variant relationships (from purchase_item_variant_id or variant_id)
          required: false
          schema:
            type: string
        - name: per_page
          in: query
          description: Number of items per page (max 100)
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: List of purchases
          content:
            application/json:
              schema:
                type: object
                properties:
                  purchases:
                    type: array
                    items:
                      $ref: '#/components/schemas/Purchase'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '404':
          description: Store not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      tags:
        - Purchases
      summary: Complete purchase (single or split payment)
      description: |
        Process a complete POS purchase with single or split payment methods.
        
        **Single Payment:** Include `payment_method_code` in request body.
        **Split Payment:** Include `payments` array in request body.
        **Deferred Payment:** Set `metadata.deferred_payment` to `true` to create a purchase with payment on pickup/later.
        When using deferred payment, a delivery receipt (Utleveringskvittering) is generated per Kassasystemforskriften § 2-8-7.
        Payment can be completed later using POST /purchases/{id}/complete-payment.
        
        This endpoint:
        1. Validates the cart and payment method(s)
        2. Processes payment(s) based on method (cash, Stripe, etc.) or creates pending charge for deferred payments
        3. Creates ConnectedCharge record(s) with status 'pending' for deferred payments
        4. Generates a receipt (sales receipt for paid, delivery receipt for deferred)
        5. Logs POS events for kassasystemforskriften compliance
        6. Updates POS session totals (only for paid charges)
        7. Opens cash drawer for cash payments (not for deferred)
        8. Automatically prints receipt (if configured)
        
        For Stripe payments, the payment intent must already be created and confirmed.
        Include the payment_intent_id in the metadata.
      operationId: createPurchase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PurchaseSinglePaymentRequest'
                - $ref: '#/components/schemas/PurchaseSplitPaymentRequest'
      responses:
        '201':
          description: Purchase completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      charge:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 123
                          stripe_charge_id:
                            type: string
                            nullable: true
                            example: ch_xxx
                          amount:
                            type: integer
                            example: 11000
                          currency:
                            type: string
                            example: nok
                          status:
                            type: string
                            example: succeeded
                          payment_method:
                            type: string
                            example: cash
                          paid_at:
                            type: string
                            format: date-time
                            example: "2025-12-01T10:30:00Z"
                      receipt:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 456
                          receipt_number:
                            type: string
                            example: "1-S-000001"
                          receipt_type:
                            type: string
                            example: sales
                      pos_event:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 789
                          event_code:
                            type: string
                            example: "13012"
                          transaction_code:
                            type: string
                            example: "11001"
        '422':
          description: Validation error or business rule violation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Payment method is not enabled
                  errors:
                    type: object
        '403':
          description: Unauthorized access to POS session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: POS session or payment method not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /purchases/{id}:
    get:
      tags:
        - Purchases
      summary: Get purchase
      description: Retrieve a single purchase by ID
      operationId: getPurchase
      parameters:
        - name: id
          in: path
          required: true
          description: Purchase ID
          schema:
            type: integer
      responses:
        '200':
          description: Purchase details
          content:
            application/json:
              schema:
                type: object
                properties:
                  purchase:
                    $ref: '#/components/schemas/Purchase'
        '404':
          description: Purchase not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /purchases/{id}/complete-payment:
    post:
      tags:
        - Purchases
      summary: Complete payment for deferred purchase
      description: |
        Complete payment for a purchase that was created with deferred payment (e.g., dry cleaning, payment on pickup).
        
        This endpoint:
        1. Validates the charge is pending
        2. Processes payment based on the provided payment method
        3. Updates charge status to succeeded
        4. Generates a sales receipt (replacing the delivery receipt)
        5. Logs POS events
        6. Updates POS session totals
        7. Opens cash drawer for cash payments
        8. Automatically prints receipt (if configured)
        
        For Stripe payments, the payment intent must already be created and confirmed.
        Include the payment_intent_id in the metadata.
        
        **Compliance:** This complies with Kassasystemforskriften § 2-8-7 (Utleveringskvittering).
        Deferred payments generate delivery receipts initially, then sales receipts when payment is completed.
      operationId: completePurchasePayment
      parameters:
        - name: id
          in: path
          required: true
          description: Purchase (charge) ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - payment_method_code
              properties:
                payment_method_code:
                  type: string
                  description: Code of the payment method (e.g., "cash", "card", "card_present")
                  example: cash
                pos_session_id:
                  type: integer
                  nullable: true
                  description: |
                    Optional POS session ID to use for completing the payment. 
                    If not provided, the system will:
                    1. Use the current active session for the provided pos_device_id (if pos_device_id is provided)
                    2. Fall back to the original session from when the deferred payment was created
                    This allows completing deferred payments on different devices/sessions (e.g., customer returns to a different register).
                    The session must be open and belong to the same store as the charge.
                    **Compliance:** For proper audit trail, it's recommended to provide pos_device_id to use the current active session.
                  example: 1
                pos_device_id:
                  type: integer
                  nullable: true
                  description: |
                    Optional POS device ID. If provided and pos_session_id is not provided, 
                    the system will automatically use the current active open session for this device.
                    This ensures compliance by defaulting to the session the user is currently signed in to.
                    **Compliance:** Recommended to provide this parameter to ensure proper tracking and audit trail.
                  example: 1
                metadata:
                  type: object
                  description: Payment-specific metadata (e.g., payment_intent_id for Stripe)
                  additionalProperties: true
                  example:
                    payment_intent_id: pi_xxx
      responses:
        '200':
          description: Payment completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      charge:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 123
                          stripe_charge_id:
                            type: string
                            nullable: true
                            example: ch_xxx
                          amount:
                            type: integer
                            example: 11000
                          currency:
                            type: string
                            example: nok
                          status:
                            type: string
                            example: succeeded
                          payment_method:
                            type: string
                            example: cash
                          paid_at:
                            type: string
                            format: date-time
                            example: "2025-12-09T14:30:00+01:00"
                      receipt:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 456
                          receipt_number:
                            type: string
                            example: "1-S-000001"
                          receipt_type:
                            type: string
                            example: sales
                      pos_event:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 789
                          event_code:
                            type: string
                            example: "13012"
                          transaction_code:
                            type: string
                            example: "1"
        '400':
          description: Invalid purchase ID or charge already paid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Purchase or payment method not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error or charge not pending
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                  errors:
                    type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Unauthorized access to charge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /purchases/{id}/cancel:
    post:
      tags:
        - Purchases
      summary: Cancel a pending purchase
      description: |
        Cancels a purchase that is in pending status (e.g., deferred payments).
        
        This endpoint:
        1. Validates the purchase is pending and not paid
        2. Cancels the Stripe payment intent if one exists (for deferred payments)
        3. Changes purchase status to 'cancelled'
        4. Logs a void transaction event (13014)
        5. Updates purchase metadata with cancellation information
        
        **Use cases:**
        - Cancel deferred payments that were never completed
        - Cancel pending orders that customers no longer want
        - Handle abandoned transactions
        
        **Note:** This is different from a refund. Refunds are for completed purchases.
        Cancellation is for pending purchases that never completed payment.
      operationId: cancelPurchase
      parameters:
        - name: id
          in: path
          required: true
          description: Purchase ID
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 500
                  description: Optional reason for cancellation
                  example: "Customer cancelled order"
      responses:
        '200':
          description: Purchase cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Purchase cancelled successfully"
                  purchase:
                    $ref: '#/components/schemas/Purchase'
        '400':
          description: Invalid purchase ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Purchase not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error or purchase cannot be cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Purchase is not pending or already paid"
                  errors:
                    type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          description: Unauthorized access to purchase
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /purchases/{id}/refund:
    post:
      tags:
        - Purchases
      summary: Refund a purchase
      description: |
        Processes refunds for both Stripe and cash payments.
        
        **For Stripe payments:**
        - Creates a refund in Stripe
        - Updates local charge record with refund information
        - Supports full and partial refunds
        
        **For cash payments:**
        - Updates local records only (manual refund process)
        - Cash must be physically returned to customer
        
        **Automatic processes:**
        1. Validates purchase can be refunded (paid, not cancelled)
        2. Processes Stripe refund if applicable
        3. Updates charge status and refund amounts
        4. Generates return receipt automatically (Kassasystemforskriften compliance)
        5. Logs return receipt event (13013)
        6. Updates POS session totals (decrements amounts)
        7. Auto-prints receipt if configured
        
        **Compliance:**
        - Return receipts are immutable and sequentially numbered
        - All refunds are logged in POS events for audit trail
        - Supports refund reasons for compliance tracking
        
        **Use cases:**
        - Full refunds for returned items
        - Partial refunds for partial returns
        - Refunds with reasons for compliance tracking
      operationId: refundPurchase
      parameters:
        - name: id
          in: path
          required: true
          description: Purchase ID
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  minimum: 1
                  description: |
                    Amount to refund in minor units (øre).
                    If not provided, refunds the full remaining refundable amount.
                    Must not exceed remaining refundable amount.
                  example: 5000
                reason:
                  type: string
                  maxLength: 500
                  description: Optional reason for refund (for compliance tracking)
                  example: "Customer returned item"
                pos_device_id:
                  type: integer
                  description: |
                    Optional: Current POS device ID (if you want to specify which device's session to use).
                    If not provided and original session is closed, backend auto-detects current open session.
                    For compliance: Refunds from closed sessions are tracked in the current open session.
                    The original session totals remain unchanged per Kassasystemforskriften.
                  example: 5
                pos_session_id:
                  type: integer
                  description: |
                    Optional: Current POS session ID (if you want to specify which session to use).
                    Must be an open session. If not provided and original session is closed, backend auto-detects.
                  example: 123
                items:
                  type: array
                  description: Optional array of items being refunded (for item-level tracking)
                  items:
                    type: object
                    properties:
                      item_id:
                        type: string
                        description: Purchase item ID
                      quantity:
                        type: integer
                        description: Quantity to refund
      responses:
        '200':
          description: Refund processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Refund processed successfully"
                  data:
                    type: object
                    properties:
                      charge:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 123
                          stripe_charge_id:
                            type: string
                            nullable: true
                            example: "ch_1234567890"
                          amount:
                            type: integer
                            description: Original purchase amount in minor units (øre)
                            example: 10000
                          amount_refunded:
                            type: integer
                            description: Total amount refunded so far in minor units (øre)
                            example: 5000
                          currency:
                            type: string
                            example: "nok"
                          status:
                            type: string
                            enum: [succeeded, pending, failed, refunded, cancelled]
                            description: Purchase status (will be 'refunded' if fully refunded)
                            example: "succeeded"
                          refunded:
                            type: boolean
                            description: Whether purchase is fully refunded
                            example: false
                          payment_method:
                            type: string
                            example: "card"
                      receipt:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 456
                          receipt_number:
                            type: string
                            description: Sequential receipt number
                            example: "RET-2025-000123"
                          receipt_type:
[...]
